<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.surveysystemtext.mapper.OptionMapper">
    <resultMap id="qption1" type="com.example.surveysystemtext.entity.Option">
        <result property="questionId" column="question_id"/>
        <result property="optionId" column="option_id"/>
        <result property="content" column="content"/>
        <collection property="count" javaType="int" ofType="com.example.surveysystemtext.entity.Option" column="{optionId = option_id}"
                    select="com.example.surveysystemtext.mapper.FillInMapper.Count_OptionFill_in"/>
    </resultMap>

    <select id="FindOption" parameterType="com.example.surveysystemtext.entity.Question" resultMap="qption1">
        SELECT *
            FROM `option_info`
                WHERE `question_id` = #{questionId}
    </select>

</mapper>