<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.surveysystemtext.mapper.QuestionMapper">

    <resultMap id="Questio1" type="com.example.surveysystemtext.entity.Question">
        <result property="surveyId" column="survey_id"/>
        <result property="questionId" column="question_id"/>
        <result property="question" column="question"/>
        <result property="questionOrder" column="question_order"/>
        <result property="type" column="type"/>
        <result property="remark" column="remark"/>
        <collection property="OptionList" javaType="List" ofType="com.example.surveysystemtext.entity.Question" column="{questionId = question_id}"
                    select="com.example.surveysystemtext.mapper.OptionMapper.FindOption"/>
    </resultMap>

    <select id="FindQuestion" parameterType="com.example.surveysystemtext.entity.Survey" resultMap="Questio1">
        SELECT *
            FROM `question_info`
                WHERE `survey_id` = #{surveyId}
        ORDER BY question_order
    </select>

    <select id="FindQuestion1" parameterType="com.example.surveysystemtext.entity.Question" resultMap="Questio1">
        SELECT *
            FROM `question_info`
                WHERE `question_id` = #{questionId}
    </select>
</mapper>