<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.surveysystemtext.mapper.UserMapper">

    <select id="count" parameterType="com.example.surveysystemtext.entity.User" resultType="int">
        SELECT COUNT(*)
            FROM `survey_info`
                WHERE `created_user_id` = #{userId}
    </select>


    <resultMap type="com.example.surveysystemtext.entity.Survey" id = "syrvey1">
        <result property="surveyId" column="survey_id"/>
        <result property="createdUserId" column="created_user_id"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="remark" column="remark"/>
        <result property="createdTime" column="created_time"/>
        <result property="state" column="state"/>
        <result property="analysis" column="analysis"/>
        <collection property="count_fill_in" javaType="int" ofType="com.example.surveysystemtext.entity.Survey" column="{surveyId = survey_id}"
                    select="com.example.surveysystemtext.mapper.FillInMapper.Count_SurveyFill_in"/>
        <collection property="count_question" javaType="int" ofType="com.example.surveysystemtext.entity.Survey" column="{surveyId = survey_id}"
                    select="com.example.surveysystemtext.mapper.SurveyMapper.CountQuestion"/>
    </resultMap>

    <select id="findSurvey" parameterType="com.example.surveysystemtext.entity.User" resultMap="syrvey1">
        SELECT *
            FROM `survey_info`
                WHERE  `created_user_id` = #{userId}
    </select>


</mapper>
